
    <header><p>Online Ticket Reservation System</p></header>
    
    <ul>
        <li> <a href="#">Home</a></li>
        <li><a href="#">Search Train</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Sign up</a></li>
        <li><a href="#">Admin Login</a></li>
    </ul>
    <div>

    
    <h1 class="login"> Login </h1>  
    <form>
        <div class="container"> 
            <label>User Name : </label> 
            <input type="text" placeholder="Enter Username" name="username" required>
            <label>Password : </label> 
            <input type="password" placeholder="Enter Password" name="password" required>
            <button type="submit">SignIn</button> 
        </div> 
    </form>   

        
    </div>
    
    
    <footer><p>Copyright: Online Ticket Reservation System</p></footer>

