<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.component.css">
    <title>Document</title>
</head>
<body>
    
        <header><p>Online Ticket Reservation System</p></header>
    
    
    <div>
        <ul>
            <li> <a href="http://localhost:4200/">Home</a></li>
            <li><a href="http://localhost:4200/searchTrain">Search Train</a></li>
            <li><a href="http://localhost:4200/login">Login</a></li>
            <li><a href="http://localhost:4200/register">Sign up</a></li>
            <li><a href="http://localhost:4200/adminLogin">Admin Login</a></li>
        </ul>
    </div>
    
    <div>
        <p>WELCOME TO<br>Train Reservation System</p>
        <div>
            <img src="/assets/img/train.jpg" alt="Train">
        </div>
        
        
    </div>
    
    
        <footer><p>Copyright: Online Ticket Reservation System</p></footer>
    

    
    
</body>
</html>